apiVersion: braid.james-parker.dev/v1
kind: Application
metadata:
  labels:
    app.kubernetes.io/name: braid
    app.kubernetes.io/managed-by: kustomize
  name: application-sample
spec:
  template: applicationtemplate-sample
  variables:
    foo: barbar
---
apiVersion: braid.james-parker.dev/v1
kind: ApplicationTemplate
metadata:
  labels:
    app.kubernetes.io/name: braid
    app.kubernetes.io/managed-by: kustomize
  name: applicationtemplate-sample
spec:
  objects:
    - template: objecttemplate-sample
      variables:
        image: nginx
        tag: 1.14.2
---
apiVersion: braid.james-parker.dev/v1
kind: ObjectTemplate
metadata:
  labels:
    app.kubernetes.io/name: braid
    app.kubernetes.io/managed-by: kustomize
  name: objecttemplate-sample
spec:
  apiVersion: apps/v1
  kind: Deployment
  variables:
    - image
    - tag
  spec: |
    replicas: 3
    selector:
      matchLabels:
        app: nginx
    template:
      metadata:
        labels:
          app: nginx
      spec:
        containers:
          - name: nginx
            image: "{{.image}}:{{.tag}}"
            env:
              - name: foo
                value: bar
            ports:
              - containerPort: 80
