apiVersion: braid.james-parker.dev/v1
kind: ApplicationTemplate
metadata:
  labels:
    app.kubernetes.io/name: braid
    app.kubernetes.io/managed-by: kustomize
  name: applicationtemplate-sample
spec:
  objects:
    - template: objecttemplate-sample
      variables:
        image: nginx
        test: foo1
